// @author: laoono
// @date: 2016-04-29
// @time: 16:25
// @contact: laoono.com
// @description:

$base-placeholder-color: rgba(#fff, .6);
$base-font: "Hiragino Sans GB", "Microsoft Yahei", "Helvetica";
$animation-duration: .35s;

@import "./_function.scss";
@import "./_mixin.scss";
@import "./_z-index.scss";
